{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

  <h3>New Schema</h3>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {% bootstrap_form form %}
      </div>
      <div class="col">

      </div>
    </div>


    <div class="d-grid gap-3 pt-3">
      <button type="submit" class='btn btn-primary' name="button">Submit Schema</button>
    </div>
  </form>

  <h3 class='mt-4'>Schema Colums</h3>
  <hr>

  {% include 'csvmaker/snippets/column_form.html' with form=column_form %}

{% endblock %}
